div {
    background-color: yellow;
}

.box::after {
    content: attr(data-sonrasi);
    color:red;
    background-color: blue;
}

.box::before {
    content: attr(data-oncesi);
    background-color: green;
    color:white;
}

a[target=_blank]::after {
    content: '(' attr(href) ')';
    
}
